<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список достоинств</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body ng-app="meritManagerApp">
<div data-ng-include data-src="'main-menu.html'"></div>
<div ng-controller="meritListController">

    <div class="row">
        <div class="col-xs-offset-1 col-xs-2">
            <p class="lead">
                <strong>Поиск достоинства:</strong>
            </p>
        </div>
        <div class="col-xs-offset-2 col-xs-4">
            <p class="lead"><input type="text" ng-model="search"></p>
        </div>
    </div>

    <table class="table table-striped">
        <tr ng-repeat="merit in merits | orderBy : 'name' | filter : search">
            <td style="vertical-align:middle;">
                <a href="/views/merit.html?id={{merit.id}}" class="btn btn-link" role="button">
                    {{ merit.name }}
                </a>
            </td>
            <td style="vertical-align:middle;">{{ merit.cost }}</td>
            <td>
                <button type="button" class="btn btn-link" ng-click="deleteMerit(merit.id)">х</button>
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <h2>Добавить достоинство</h2>

    <form class="form-horizontal" role="form" ng-controller="addMeritController"
          name="createMeritForm">

        <div class="form-group">
            <label class="control-label col-sm-2" for="merit_name">Название достоинства:</label>

            <div class="col-sm-10">
                <input type="text" ng-model="merit_name" class="form-control" id="merit_name" placeholder="Амбидекстр"
                       required>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2" for="cost">Стоимость:</label>

            <div class="col-sm-10">
                <input type="number" ng-model="cost" class="form-control" id="cost" placeholder="5" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="creation_only">Только при создании:</label>

            <div class="col-sm-10">
                <div class="pull-left">
                    <input type="checkbox" class="form-control" id="creation_only" ng-model="creation_only">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Описание:</label>

            <div class="col-sm-10">
                <input type="text" ng-model="description" class="form-control" id="description"
                       placeholder="Описание здесь">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="action_level_bonus">Бонус на действия:</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="action_level_bonus" placeholder="Бонус"
                       ng-model="action_level_bonus">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="createMerit()"
                        ng-disabled="createMeritForm.$invalid">Добавить
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    var app = angular.module("meritManagerApp", []);

    app.controller("addMeritController", function ($scope, $http) {
        $scope.creation_only = false;

        $scope.createMerit = function () {
            $http.post('/merits', {
                name: $scope.merit_name,
                cost: $scope.cost,
                creation_only: $scope.creation_only,
                description: $scope.description,
                action_level_bonus: $scope.action_level_bonus
            }).success(function (data) {
                location.reload();
            });
        };
    });

    app.controller("meritListController", function ($scope, $http) {
        $http.get('/merits').
        success(function (data) {
            $scope.merits = data.merits;
        });

        $scope.deleteMerit = function (id) {
            $http.delete('/merits/' + id).
            success(function (data) {
                location.reload();
            });
        };
    });
</script>

</body>
</html>