<!DOCTYPE html>
<html lang="en">
<head>
    <title>Персонаж</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app="personageApp">

<div ng-controller="personageAttributeListController">
    <div data-ng-include data-src="'main-menu.html'"></div>
    <h3 class="text-center">{{personage.name}}</h3>

    <div>
        <!-- Навигация -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#attributes"  data-toggle="tab">Характеристики</a>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Навыки
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#triggerSkills" data-toggle="tab">Триггерные</a></li>
                    <li><a href="#attachedSkills"  data-toggle="tab">Прикрепленные</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a id="advantages" class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Особенности
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#positiveAdvanatges" data-toggle="tab">Положительные</a></li>
                    <li><a href="#negativeAdvanatges" data-toggle="tab">Отрицательные</a></li>
                    <li><a href="#inherentAdvanatges" data-toggle="tab">Врожденные</a></li>
                </ul>
            </li>

            <li>
                <a href="#inventory"  data-toggle="tab">Шмот</a>
            </li>
        </ul>
        <!-- Содержимое вкладок -->
        <div class="tab-content">
            <div class="tab-pane fade active in" id="attributes">
                <div class="row" ng-repeat="personageAttribute in personageAttributes">
                    <div style="background-color:aquamarine;" class="col-xs-6 col-md-6">
                        {{personageAttribute.Attribute.name}}
                    </div>
                    <div style="background-color:aliceblue;" class="col-xs-6 col-md-6">
                        {{personageAttribute.value}}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="triggerSkills">Скилы триг</div>
            <div class="tab-pane fade" id="attachedSkills">Скилы прикреп</div>
            <div class="tab-pane fade" id="positiveAdvanatges">advantages</div>
            <div class="tab-pane fade" id="negativeAdvanatges">disadvantages</div>
            <div class="tab-pane fade" id="inherentAdvanatges">врожденные особ</div>
            <div class="tab-pane fade" id="inventory">шмотки</div>
        </div>
    </div>
</div>

<script>
    var personageId = /id=(\d+)/.exec(window.location.href)[1];
    var app = angular.module("personageApp", []);

    app.controller("personageAttributeListController", function ($scope, $http) {
        $http.get('/personageAttributes').
        success(function (data) {
            $scope.personageAttributes = data.personageAttributes;
        });

        $http.get('/personages/' + personageId).
        success(function (data) {
            $scope.personage = data.personage;
        });
    });

</script>

</body>
</html>