<!DOCTYPE html>
<html lang="en">
<head>
    <title>Раса</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app="raceApp">
<div data-ng-include data-src="'main-menu.html'"></div>
<div ng-controller="raceAttributeListController">
    <h2 class="text-center">{{race.name}}</h2>
    <h3 class="text-center">Аттрибуты</h3>
    <table class="table table-striped">
        <tr ng-repeat="raceAttribute in raceAttributes | orderBy : 'name'">
            <td style="vertical-align:middle;">{{ raceAttribute.Attribute.name}}</td>
            <td ng-if="show(raceAttribute.id)">
                <input type="number" ng-model="raceAttribute.base_cost"
                       class="form-control" id="base_cost">
            </td>

            <td ng-if="!show(raceAttribute.id)" style="vertical-align:middle;">{{ raceAttribute.base_cost }}</td>
            <td ng-show="!show(raceAttribute.id)">
                <a class="btn btn-link" ng-click="changeRaceAttribute(raceAttribute.id)">Изменить</a>
            </td>
            <td ng-show="show(raceAttribute.id)">
                <a class="btn btn-link" ng-click="saveRaceAttribute(raceAttribute.id)">Сохранить</a>
            </td>
        </tr>
    </table>
</div>

<div ng-controller="raceMeritListController">
    <h3 class="text-center">Достоинства</h3>
    <table class="table table-striped">
        <tr ng-repeat="raceMerit in raceMerits | orderBy : 'name'">
            <td style="vertical-align:middle;">{{ raceMerit.Merit.name}}</td>
            <td style="vertical-align:middle;">{{ raceMerit.race_cost }}</td>
            <td style="vertical-align:middle;">{{ raceMerit.race_default }}</td>
            <td>
                <a class="btn btn-link" ng-click="deleteRaceMerit(raceMerit.id)">Удалить</a>
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <h2>Привязать достоинство</h2>
    <form class="form-horizontal" role="form" ng-controller="addRaceMeritController"
          name="addRaceMeritForm">
        <div class="form-group">
            <label class="control-label col-sm-2" for="merit_id">Достоинство: </label>
            <div class="col-sm-10">
                <select class="form-control"
                        ng-model="merit_id" id="merit_id" ng-options="merit.id as merit.name for merit in merits" required>
                    <option style="display:none" value="">Выберите достоинство...</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="race_cost">Расовая стоимость:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="race_cost" ng-disabled="isCheckboxChecked()" ng-model="race_cost" min="0">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="race_default">По умолчанию:</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-control" id="race_default" ng-model="race_default">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="createRaceMerit()"
                        ng-disabled="addRaceMeritForm.$invalid">Привязать</button>
            </div>
        </div>
    </form>
</div>

<div ng-controller="raceInherentListController">
    <h3 class="text-center">Врожденные достоинства</h3>
    <table class="table table-striped">
        <tr ng-repeat="raceInherent in raceInherents | orderBy : 'name'">
            <td style="vertical-align:middle;">{{ raceInherent.Inherent.name}}</td>
            <td style="vertical-align:middle;">1/{{ raceInherent.race_probability }}</td>
            <td>
                <a class="btn btn-link" ng-click="deleteRaceInherent(raceInherent.id)">Удалить</a>
            </td>
        </tr>
    </table>
</div>


<div class="container">
    <h2>Привязать врожденное</h2>
    <form class="form-horizontal" role="form" ng-controller="addRaceInherentController"
          name="addRaceInherentForm">
        <div class="form-group">
            <label class="control-label col-sm-3" for="inherent_id">Достоинство: </label>
            <div class="col-sm-8">
                <select class="form-control"
                        ng-model="inherent_id" id="inherent_id" ng-options="inherent.id as inherent.name for inherent in inherents" required>
                    <option style="display:none" value="">Выберите достоинство...</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="race_probability">Расовая вероятность 1/x:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="race_probability" ng-model="race_probability" min="0">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="createRaceInherent()"
                        ng-disabled="addRaceInherentForm.$invalid">Привязать</button>
            </div>
        </div>
    </form>
</div>

<script>
    var raceId = /id=(\d+)/.exec(window.location.href)[1];
    var app = angular.module("raceApp", []);

    app.controller("raceAttributeListController", function ($scope, $http) {
        $http.get('/raceAttributesByRaceId/' + raceId).
        success(function (data) {
            $scope.raceAttributes = data.raceAttributes;
        });

        $http.get('/races/' + raceId).
        success(function (data) {
            $scope.race = data.race;
        });

        var changingAttributeIds = [];
        $scope.show = function (id) {
            var show = false;
            angular.forEach(changingAttributeIds, function (changingAttributeId) {
                if(changingAttributeId == id) {
                    show = true;
                }
            });
            return show;
        };

        $scope.changeRaceAttribute = function (id) {
            changingAttributeIds.push(id);
        };

        $scope.saveRaceAttribute = function (id) {

            angular.forEach($scope.raceAttributes, function (raceAttribute) {
                if (raceAttribute.id == id) {
                    $http.put('/raceAttributes/' + id, {
                        base_cost: raceAttribute.base_cost
                    });
                }
            });

            var index = changingAttributeIds.indexOf(id);
            changingAttributeIds.splice(index, 1);
        }
    });

    app.controller("raceMeritListController", function ($scope, $http) {
        $http.get('/raceMeritsByRaceId/' + raceId).
        success(function (data) {
            $scope.raceMerits = data.raceMerits;
        });

        $scope.deleteRaceMerit = function (id) {
            $http.delete('/raceMerits/' + id).
            success(function (data) {
                location.reload();
            });
        };
    });

    app.controller("raceInherentListController", function ($scope, $http) {
        $http.get('/raceInherentsByRaceId/' + raceId).
        success(function (data) {
            $scope.raceInherents = data.raceInherents;
        });

        $scope.deleteRaceInherent = function (id) {
            $http.delete('/raceInherents/' + id).
            success(function (data) {
                location.reload();
            });
        };
    });

    app.controller("addRaceMeritController", function ($scope, $http) {
        $scope.race_default = false;
        $scope.race_cost = 0;

        $scope.createRaceMerit = function () {
            $http.post('/raceMerits', {
                merit_id: $scope.merit_id,
                race_id: raceId,
                race_cost: $scope.race_cost,
                race_default: $scope.race_default
            }).
            success(function (data) {
                location.reload();
            });
        };

        $http.get('/merits').
        success(function (data) {
            $scope.merits = data.merits;
        });

        $scope.isCheckboxChecked = function () {
            return $scope.race_default;
        }
    });

    app.controller("addRaceInherentController", function ($scope, $http) {
        $scope.race_default = false;
        $scope.race_cost = 0;

        $scope.createRaceInherent = function () {
            $http.post('/raceInherents', {
                inherent_id: $scope.inherent_id,
                race_id: raceId,
                race_probability: $scope.race_probability
            }).
            success(function (data) {
                location.reload();
            });
        };

        $http.get('/inherents').
        success(function (data) {
            $scope.inherents = data.inherents;
        });
    });


</script>


</body>
</html>