var raceFlawsByRaceId = $q.defer();
$http.get('/raceFlawsByRaceId/' + result.personage.RaceId).
success(function (results) {
raceFlawsByRaceId.resolve(results.raceFlaws);
});

$q.all([raceFlawsByRaceId.promise]).then(function (raceFlaws) {
var raceFlawPromises = [];
for (var i = 0; i < raceFlaws.length; i++) {
raceFlawPromises.push($http.post('/personageFlaws', {
personage_id: result.personage.id,
merit_id: raceFlaws[i].FlawId,
unremovable: true
}));
}

$q.all(raceFlawPromises).then(function () {
raceFlawAllPromise.resolve();
console.log('merits done');
});
});