<div class="margin-bottom-50">
    <div id="accordion" class="panel-group accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div id="headingOne" class="panel-heading collapsed" role="tab" data-toggle="collapse"
                 data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <div class="panel-title">
                                <span class="accordion-indicator pull-right">
                                <i class="plus fa fa-plus"></i>
                                <i class="minus fa fa-minus"></i>
                                </span>
                    <a> Collapsible Group Item #1 </a>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
                 aria-expanded="false" style="height: 0px;">
                <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                    wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                    them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div id="headingTwo" class="panel-heading collapsed" role="tab" data-toggle="collapse"
                 data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="panel-title">
<span class="accordion-indicator pull-right">
<i class="plus fa fa-plus"></i>
<i class="minus fa fa-minus"></i>
</span>
                    <a> Collapsible Group Item #2 </a>
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"
                 aria-expanded="false" style="height: 0px;">
                <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                    wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                    them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div id="headingThree" class="panel-heading collapsed" role="tab" data-toggle="collapse"
                 data-parent="#accordion" data-target="#collapseThree" aria-expanded="false"
                 aria-controls="collapseThree">
                <div class="panel-title">
<span class="accordion-indicator pull-right">
<i class="plus fa fa-plus"></i>
<i class="minus fa fa-minus"></i>
</span>
                    <a> Collapsible Group Item #3 </a>
                </div>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"
                 aria-expanded="false" style="height: 0px;">
                <div class="panel-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                    wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                    them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>