<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список тригерных навыков</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body ng-app="triggerSkillManagerApp">
<div data-ng-include data-src="'main-menu.html'"></div>
<div ng-controller="triggerSkillListController">

    <table class="table table-striped">
        <tr>
            <th style="vertical-align:middle; text-align: center;">Имя</th>
            <th>Cт.</th>
            <th>Сл.</th>
            <th></th>
        </tr>
        <tr ng-repeat="triggerSkill in triggerSkills | orderBy : 'name'">
            <td style="vertical-align:middle; text-align: center;">
                <a href="/views/trigger_skill.html?id={{triggerSkill.id}}" class="btn btn-link" role="button">
                    {{ triggerSkill.name }}
                </a>
            </td>
            <td style="vertical-align:middle;">{{ triggerSkill.cost }}</td>
            <td style="vertical-align:middle;">
                <div ng-if="triggerSkill.difficult">
                    <span class="glyphicon glyphicon-ok"/>
                </div>
                <div ng-if="!triggerSkill.difficult">
                    <span class="glyphicon glyphicon-remove"/>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-link" ng-click="deleteTriggerSkill(triggerSkill.id)">Удалить
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <h2>Добавить навык</h2>

    <form class="form-horizontal" role="form" ng-controller="addTriggerSkillController"
          name="createTriggerSkillForm">

        <div class="form-group">
            <label class="control-label col-sm-2" for="triggerSkill_name">Название навыка:</label>

            <div class="col-sm-10">
                <input type="text" ng-model="triggerSkill_name" class="form-control" id="triggerSkill_name"
                       placeholder="Меч" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="cost">Стоимость:</label>

            <div class="col-sm-10">
                <input type="number" ng-model="cost" class="form-control" id="cost" placeholder="5" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="difficult">Сложный:</label>

            <div class="col-sm-10">
                <div class="pull-left">
                    <input type="checkbox" class="form-control" id="difficult" ng-model="difficult">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Описание:</label>

            <div class="col-sm-10">
                <input type="text" ng-model="description" class="form-control" id="description"
                       placeholder="Описание здесь">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="createTriggerSkill()"
                        ng-disabled="createTriggerSkillForm.$invalid">Добавить
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    var app = angular.module("triggerSkillManagerApp", []);

    app.controller("addTriggerSkillController", function ($scope, $http) {
        $scope.difficult = false;

        $scope.createTriggerSkill = function () {
            $http.post('/triggerSkills', {
                name: $scope.triggerSkill_name,
                cost: $scope.cost,
                description: $scope.description,
                difficult: $scope.difficult
            }).success(function (data) {
                location.reload();
            });
        };
    });

    app.controller("triggerSkillListController", function ($scope, $http) {
        $http.get('/triggerSkills').
        success(function (data) {
            $scope.triggerSkills = data.triggerSkills.sort();
        });

        $scope.deleteTriggerSkill = function (id) {
            $http.delete('/triggerSkills/' + id).
            success(function (data) {
                location.reload();
            });
        };
    });
</script>

</body>
</html>