<!DOCTYPE html>
<html lang="en">
<head>
    <title>Персонаж</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="/views/permissions/permissions.js"></script>
</head>
<body ng-app="personageApp">

<div ng-controller="personageController">
    <div ng-controller="permissionsController">
        <div data-ng-include data-src="'loader.html'"></div>

        <div data-ng-include data-src="'main-menu.html'"></div>
        <h3 class="text-center">{{personage.name}}</h3>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-2">
                    <p class="lead">
                        <strong>Раса:</strong>
                    </p>
                </div>
                <div class="col-xs-offset-2 col-xs-4">
                    <p class="lead">{{personage.Race.name}}</p>
                </div>
            </div>

            <form name="ageForm">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-2">
                        <p class="lead">
                            <strong><label>Возраст:</label></strong>
                        </p>
                    </div>
                    <div class="col-xs-offset-2 col-xs-4">
                        <strong>{{personage.age}} лет</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-xs-2">
                        <p class="lead">
                            <strong><label>Макс. возраст:</label></strong>
                        </p>
                    </div>
                    <div class="col-xs-offset-2 col-xs-4">
                        <strong>{{personage.max_age}} лет</strong>
                    </div>
                </div>
            </form>

            <div data-ng-include data-src="'derivatives_characteristics.html'"></div>

        </div>

        <div>
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#attributes">
                            <div class="panel-heading">
                                Характеристики
                            </div>
                        </a>
                    </h4>

                    <div id="attributes" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tr ng-repeat="personageAttribute in personageAttributes | orderBy : 'Attribute.name'">
                                    <td style="vertical-align:middle;">{{ personageAttribute.Attribute.name}}</td>
                                    <td style="vertical-align:middle;horiz-align: left;">{{ personageAttribute.value
                                        }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#skills">
                            <div class="panel-heading">
                                Навыки
                            </div>
                        </a>
                    </h4>
                    <div id="skills" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div>
                                <div class="panel-group" id="skillsAccordeon">

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#skillsAccordeon"
                                               href="#attachedSkills">
                                                <div class="panel-heading">
                                                    Прикрепленные
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="attachedSkills" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr ng-repeat="personageAttachedSkill in personageAttachedSkills | orderBy : '-value'">
                                                        <td style="vertical-align:middle;">
                                                            {{personageAttachedSkill.AttachedSkill.name}}
                                                        </td>

                                                        <td style="vertical-align:middle;">
                                                            {{personageAttachedSkill.value}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#skillsAccordeon"
                                               href="#triggerSkills">
                                                <div class="panel-heading">
                                                    Триггерные
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="triggerSkills" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr>
                                                        <th style="vertical-align:middle; text-align: center"></th>
                                                        <th style="vertical-align:middle; text-align: center"
                                                            ng-if="!isMobile">Уровень
                                                        </th>
                                                        <th style="vertical-align:middle; text-align: center"
                                                            ng-if="isMobile">Ур
                                                        </th>
                                                        <th style="vertical-align:middle; text-align: center"
                                                            ng-if="!isMobile">Талант
                                                        </th>
                                                        <th style="vertical-align:middle; text-align: center"
                                                            ng-if="isMobile">Тл
                                                        </th>
                                                    </tr>
                                                    <tr ng-repeat="personageTriggerSkill in personageTriggerSkills | orderBy : 'TriggerSkill.name'">
                                                        <td style="vertical-align:middle;">
                                                            {{personageTriggerSkill.TriggerSkill.name}}
                                                        </td>

                                                        <td style="vertical-align:middle; text-align: center"
                                                            ng-if="!isMobile">
                                                            <div ng-if="personageTriggerSkill.currentLevel == 1">
                                                                Эксперт
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 2">
                                                                Мастер
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 3">
                                                                Магистр
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 4">
                                                                Гроссмейстер
                                                            </div>
                                                        </td>

                                                        <td style="vertical-align:middle;" ng-if="isMobile">
                                                            <div ng-if="personageTriggerSkill.currentLevel == 1">
                                                                Э
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 2">
                                                                М
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 3">
                                                                Мг
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 4">
                                                                Г
                                                            </div>
                                                        </td>

                                                        <td style="vertical-align:middle; text-align: center"
                                                            ng-show="personageTriggerSkill.talented">
                                                            <span class="glyphicon glyphicon-ok"/>
                                                        </td>

                                                        <td style="vertical-align:middle; text-align: center"
                                                            ng-show="!personageTriggerSkill.talented">
                                                            <span class="glyphicon glyphicon-remove"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#perks">
                            <div class="panel-heading">
                                Особенности
                            </div>
                        </a>
                    </h4>
                    <div id="perks" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div>
                                <div class="panel-group" id="perkAccordeon">

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#perkAccordeon" href="#inherents">
                                                <div class="panel-heading">
                                                    Врожденные
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="inherents" class="panel-collapse collapse">


                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr ng-repeat="personageInherent in personageInherents | orderBy : 'Inherent.name'">
                                                        <td style="vertical-align:middle;">
                                                            {{personageInherent.Inherent.name}}
                                                        </td>

                                                        <td style="vertical-align:middle;">
                                                            <div ng-if="personageInherent.Inherent.min_limit && personageInherent.Inherent.max_limit">
                                                                {{personageInherent.value}}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#perkAccordeon" href="#merits">
                                                <div class="panel-heading">
                                                    Достоинства
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="merits" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr ng-repeat="personageMerit in personageMerits | orderBy : 'Merit.name'">
                                                        <td style="vertical-align:middle;">
                                                            {{personageMerit.Merit.name}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#perkAccordeon" href="#flaws">
                                                <div class="panel-heading">
                                                    Недостатки
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="flaws" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr ng-repeat="personageFlaw in personageFlaws | orderBy : 'Flaw.name'">
                                                        <td style="vertical-align:middle;">
                                                            {{personageFlaw.Flaw.name}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#spells">
                            <div class="panel-heading">
                                Заклинания
                            </div>
                        </a>
                    </h4>
                    <div id="spells" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div ng-repeat="school in schools | orderBy : 'name'">
                                <div class="panel-group">

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#spells{{school.id}}">
                                                <div class="panel-heading">
                                                    {{school.name}}
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="spells{{school.id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr ng-repeat="personageSpell in personageSpells | orderBy : 'personageSpell.Spell.name'">
                                                        <td ng-if="personageSpell.Spell.AttachedSkillId == school.id"
                                                            style="vertical-align:middle;">
                                                            <a href="#" class="btn btn-link" role="button"
                                                               ng-click="showSpellDetail(personageSpell)">
                                                                {{ personageSpell.Spell.name }}
                                                            </a>
                                                        </td>
                                                        <td ng-if="personageSpell.Spell.AttachedSkillId == school.id"
                                                            style="vertical-align:middle;text-align:center;">
                                                            {{personageSpell.level}} ур.
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#inventory">
                            <div class="panel-heading">
                                Заметки
                            </div>
                        </a>
                    </h4>
                    <div id="inventory" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{notes}}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="spellDetails" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Описание заклинания:
                            <strong>{{currentPersonageSpell.Spell.name}}</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Ваш уровень:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{currentPersonageSpell.level}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Учитель:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <input type="checkbox" class="form-control" id="spellTutored"
                                       ng-model="currentPersonageSpell.tutored"
                                       style="margin-top: -6px; margin-left: -6px;" disabled>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Кодовое название:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{currentPersonageSpell.Spell.name}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Сложность:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{currentPersonageSpell.Spell.complexity}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Сложность создания:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{currentPersonageSpell.Spell.creating_complexity}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Мана:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{currentPersonageSpell.Spell.mana}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Поддержание:</strong>
                            </div>
                            <div ng-show="spellDetails.spell.instant">
                                <div class="col-md-4 col-xs-4">
                                    Мгновенное
                                </div>
                            </div>
                            <div ng-hide="spellDetails.spell.instant">
                                <div class="col-md-4 col-xs-4">
                                    {{currentPersonageSpell.Spell.mana_support}} {{spellDetails.spell.mana_sup_time}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Стоимость:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{currentPersonageSpell.Spell.cost}}
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Эффект:</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                {{currentPersonageSpell.Spell.effect}}
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Описание:</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                {{currentPersonageSpell.Spell.description}}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Понятно!</button>
                    </div>
                </div>
            </div>
        </div>

        <form name="expirienceForm">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-4">
                    <p class="lead">
                        <strong>Очки опыта:</strong>
                    </p>
                </div>
                <div class="col-xs-offset-2 col-xs-4">
                    <div id="expirience" ng-model="expirience">
                        <p class="lead">
                            <strong>{{personage.experience}}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    (function (i) {
        var e = /iPhone/i, n = /iPod/i, o = /iPad/i, t = /(?=.*\bAndroid\b)(?=.*\bMobile\b)/i, r = /Android/i, d = /BlackBerry/i, s = /Opera Mini/i, a = /IEMobile/i, b = /(?=.*\bFirefox\b)(?=.*\bMobile\b)/i, h = RegExp("(?:Nexus 7|BNTV250|Kindle Fire|Silk|GT-P1000)", "i"), c = function (i, e) {
            return i.test(e)
        }, l = function (i) {
            var l = i || navigator.userAgent;
            this.apple = {
                phone: c(e, l),
                ipod: c(n, l),
                tablet: c(o, l),
                device: c(e, l) || c(n, l) || c(o, l)
            }, this.android = {
                phone: c(t, l),
                tablet: !c(t, l) && c(r, l),
                device: c(t, l) || c(r, l)
            }, this.other = {
                blackberry: c(d, l),
                opera: c(s, l),
                windows: c(a, l),
                firefox: c(b, l),
                device: c(d, l) || c(s, l) || c(a, l) || c(b, l)
            }, this.seven_inch = c(h, l), this.any = this.apple.device || this.android.device || this.other.device || this.seven_inch
        }, v = i.isMobile = new l;
        v.Class = l
    })(window);

    var personageId = /id=(\d+)/.exec(window.location.href)[1];
    var app = angular.module("personageApp", ['ngStorage', 'ui.bootstrap']);

    app.controller("personageController", function ($scope, $http, $q, $sce) {
        $scope.loader = true;
        $scope.isMobile = isMobile.android.phone;
        $scope.meritAvailable = true;
        $scope.currentMerit = null;

        var personage = $q.defer();
        var raceAttributes = $q.defer();
        var personageMerits = $q.defer();

        function success(data) {
            $scope.recalculateBasicCharacteristics();
            $scope.loader = false;
        }

        var all = $q.all([personage.promise, personageMerits.promise]);

        all.then(success);

        $http.get('/personages/' + personageId).success(function (data) {
            $scope.personage = data.personage;
            $scope.age = data.personage.age;
            if (data.personage.max_age != 0) {
                $scope.max_age = data.personage.max_age;
            } else {
                $scope.max_age = data.personage.Race.max_age;
            }
            $http.get('/raceAttributesByRaceId/' + data.personage.RaceId).success(function (data) {
                $scope.raceAttributes = data.raceAttributes;
                raceAttributes.resolve();
            });
            $scope.experienceValid = function () {
                return $scope.personage.experience < 0;
            };
            $scope.personageAttributes = data.personage.PersonageAttributes;
            $scope.personageInherents = data.personage.PersonageInherents;
            $scope.personageFlaws = data.personage.PersonageFlaws;
            $scope.personageAttachedSkills = data.personage.PersonageAttachedSkills;
            $scope.personageTriggerSkills = data.personage.PersonageTriggerSkills;
            $scope.personageSpells = data.personage.PersonageSpells;
            $scope.notes = data.personage.notes;
            $scope.playerId = data.personage.PlayerId;
            $scope.calculateMagicSchools();
            personage.resolve();
        });

        $http.get('/personageMeritsByPersonageId/' + personageId).success(function (data) {
            $scope.personageMerits = data.personageMerits;
            personageMerits.resolve();
        });

        $scope.calculateMagicSchools = function () {
            $scope.schools = [];
            var buffer = [];
            angular.forEach($scope.personageSpells, function (personageSpell) {
                if (buffer.indexOf(personageSpell.Spell.AttachedSkillId) == -1) {
                    buffer.push(personageSpell.Spell.AttachedSkillId);
                }
            });

            angular.forEach(buffer, function (attachedSkillId) {
                $http.get('/attachedSkills/' + attachedSkillId).success(function (data) {
                    $scope.schools.push(data.attachedSkill);
                });
            });
        };

        $scope.recalculateBasicCharacteristics = function () {
            angular.forEach($scope.personageAttributes, function (personageAttribute) {
                switch (personageAttribute.Attribute.name) {
                    case "Сила":
                        $scope.power = personageAttribute.value;
                        break;
                    case "Ловкость":
                        $scope.dexterity = personageAttribute.value;
                        break;
                    case "Скорость":
                        $scope.speed = personageAttribute.value;
                        break;
                    case "Реакция":
                        $scope.reaction = personageAttribute.value;
                        break;
                    case "Восприятие":
                        $scope.perception = personageAttribute.value;
                        break;
                    case "Выносливость":
                        $scope.endurance = personageAttribute.value;
                        break;
                    case "Живучесть":
                        $scope.vitality = personageAttribute.value;
                        break;
                    case "Мудрость":
                        $scope.wisdom = personageAttribute.value;
                        break;
                    case "Интеллект":
                        $scope.intelligence = personageAttribute.value;
                        break;
                    case "Воля":
                        $scope.will = personageAttribute.value;
                        break;
                    case "Харизма":
                        $scope.charisma = personageAttribute.value;
                        break;
                }
            });

            $scope.hitPiercePunch = $scope.dexterity + $scope.speed;
            $scope.hitChopPunch = $scope.dexterity + $scope.power;
            $scope.rangedHit = $scope.dexterity + $scope.perception;
            $scope.parryPiercePunch = $scope.reaction + $scope.speed;
            $scope.parryChopPunch = $scope.power + $scope.reaction;
            $scope.dodge = $scope.dexterity + $scope.reaction;
            if ($scope.speed < $scope.intelligence) {
                $scope.generalActionPoints = $scope.speed;
            } else {
                $scope.generalActionPoints = $scope.intelligence;
            }
            $scope.mentalActionPoints = $scope.intelligence;
            $scope.initiative = $scope.reaction;
            $scope.endurancePoints = $scope.endurance * 20;

        };

        $scope.showSpellDetail = function (personageSpell) {
            $scope.currentPersonageSpell = personageSpell;
            jQuery('#spellDetails').modal('show');
        };

        $scope.hitPiercePunchDescription = $sce.trustAsHtml('<p style="font-size: large">Количество кубиков на бросок попадания колющим/режущим ударом. Равно ловкости+скорости персонажа</p>');
        $scope.hitChopPunchDescription = $sce.trustAsHtml('<p style="font-size: large">Количество кубиков на бросок попадания рубящим ударом. Равно ловкости+силе персонажа</p>');
        $scope.rangedHitDescription = $sce.trustAsHtml('<p style="font-size: large">Количество кубиков на бросок попадания при стрельбе из луков, арбалетов и использовании метательного оружия. Равно ловкости+восприятию персонажа</p>');
        $scope.parryPiercePunchDescription = $sce.trustAsHtml('<p style="font-size: large">Количество кубиков на парирование колющих/режущих ударов. Равно скорости+реакции персонажа</p>');
        $scope.parryChopPunchDescription = $sce.trustAsHtml('<p style="font-size: large">Количество кубиков на парирование рубящего удара. Равно силе+реакции персонажа</p>');
        $scope.dodgeDescription = $sce.trustAsHtml('<p style="font-size: large">Количество кубиков на уклонение от атак. Равно ловкости+реакции персонажа</p>');
        $scope.generalActionPointsDescription = $sce.trustAsHtml('<p style="font-size: large">Количество очков выносливости персонажа. Тратится на активацию заклинаний и способностей, бег и любые действия. Равно выносливости персонажа, умноженной на 20</p>');
        $scope.mentalActionPointsDescription = $sce.trustAsHtml('<p style="font-size: large">Количество ментальных действий, совершаемых в раунд (активация способностей). Равно интеллекту персонажа</p>');
        $scope.endurancePointsDescription = $sce.trustAsHtml('<p style="font-size: large">Количество очков выносливости персонажа. Тратится на активацию заклинаний и способностей, бег и любые действия. Равно выносливости персонажа, умноженной на 20</p>');
        $scope.initiativeDescription = $sce.trustAsHtml('<p style="font-size: large">Количество кубиков на определение очередности хода в раунде. Равно реакции персонажа</p>');

    });

</script>
<script src="/views/permissions/check_player_permissions.js"></script>

</body>
</html>