<div class="row">
    <div class="col-xs-4 text-center">
        <md-button uib-tooltip-html="hitPiercePunchDescription">
            <img src="/images/hitPiercePunch.svg"
                 style="vertical-align: middle" width="30" height="30"/>
            <span style="line-height: 1; font-size: 30px; vertical-align: middle">{{hitPiercePunch}}</span>
        </md-button>
    </div>


    <div class="col-xs-4 text-center">
        <md-button uib-tooltip-html="hitChopPunchDescription">
            <img src="/images/hitChopPunch.svg"
                 style="vertical-align: middle"
                 width="30" height="30">
            <span style="line-height: 1; font-size: 30px; vertical-align: middle">{{hitChopPunch}}</span>
        </md-button>
    </div>


    <div class="col-xs-4 text-center">
        <md-button uib-tooltip-html="rangedHitDescription">
            <img src="/images/rangedHit.svg" style="vertical-align: middle"
                 width="30" height="30">
            <span style="line-height: 1; font-size: 30px; vertical-align: middle">{{rangedHit}}</span>
        </md-button>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-xs-4 text-center">
        <md-button uib-tooltip-html="parryPiercePunchDescription">
            <img src="/images/parryPiercePunch.svg"
                 style="vertical-align: middle" width="30" height="30">
            <span style="line-height: 1; font-size: 30px; vertical-align: middle">{{parryPiercePunch}}</span>
        </md-button>
    </div>

    <div class="col-xs-4 text-center">
        <md-button uib-tooltip-html="parryChopPunchDescription">
            <img src="/images/parryChopPunch.svg"
                 style="vertical-align: middle" width="30" height="30">
            <span style="line-height: 1; font-size: 30px; vertical-align: middle">{{parryChopPunch}}</span>
        </md-button>
    </div>

    <div class="col-xs-4 text-center">
        <md-button uib-tooltip-html="dodgeDescription" src="/images/dodge.svg">
            <img style="vertical-align: middle" width="30"
                 height="30">
            <span style="line-height: 1; font-size: 30px; vertical-align: middle">{{dodge}}</span>
        </md-button>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-xs-4 text-center">
        <md-button uib-tooltip-html="generalActionPointsDescription">
            <img src="/images/generalActionPoints.svg"
                 style="vertical-align: middle" width="30" height="30">
            <span style="line-height: 1; font-size: 30px; vertical-align: middle">{{generalActionPoints}}</span>
        </md-button>
    </div>

    <div class="col-xs-4 text-center">
        <md-button uib-tooltip-html="mentalActionPointsDescription">
            <img src="/images/mentalActionPoints.svg"
                 style="vertical-align: middle" width="30" height="30">
            <span style="line-height: 1; font-size: 30px; vertical-align: middle">{{mentalActionPoints}}</span>
        </md-button>
    </div>

    <div class="col-xs-4 text-center">
        <md-button uib-tooltip-html="endurancePointsDescription">
            <img src="/images/endurancePoints.svg"
                 style="vertical-align: middle" width="30" height="30">
            <span style="line-height: 1; font-size: 30px; vertical-align: middle">{{endurancePoints}}</span>
        </md-button>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-xs-12 text-center">
        <md-button uib-tooltip-html="initiativeDescription">
            <img src="/images/initiative.svg" style="vertical-align: middle"
                 width="30" height="30">
            <span style="line-height: 1; font-size: 30px; vertical-align: middle">{{initiative}}</span>
        </md-button>
    </div>
</div>