<!DOCTYPE html>
<html lang="en">
<head>
    <title>Персонаж</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="/views/permissions/permissions.js"></script>
    <script src="edit_personage.js"></script>
    <script src="dialogCtrl.js"></script>
    <script src="meritDialogCtrl.js"></script>
    <script src="/views/permissions/check_player_permissions.js"></script>
</head>
<body ng-app="personageApp">

<div ng-controller="permissionsController">
    <div ng-controller="personageController">
        <div data-ng-include data-src="'/views/loader.html'"></div>

        <div data-ng-include data-src="'/views/main-menu.html'"></div>
        <h3 class="text-center">{{personage.name}}</h3>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-2">
                    <p class="lead">
                        <strong>Раса:</strong>
                    </p>
                </div>
                <div class="col-xs-offset-2 col-xs-4">
                    <p class="lead">{{personage.Race.name}}</p>
                </div>
            </div>

            <form name="ageForm">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-2">
                        <p class="lead">
                            <strong><label class="control-label" for="age">Возраст:</label></strong>
                        </p>
                    </div>
                    <div class="col-xs-offset-2 col-xs-4">
                        <input type="number" class="form-control" id="age" name="age" placeholder="25" ng-model="age"
                               min="0" max="{{max_age}}" required>
                <span style="color:red" ng-show="ageForm.age.$invalid && ageForm.age.$dirty">
                    <span ng-show="ageForm.age.$error.required">Введите текущий возраст</span>
                    <span ng-show="ageForm.age.$error.max">Текущий возраст персонажа больше максимального</span>
                </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-xs-2">
                        <p class="lead">
                            <strong><label class="control-label" for="max_age">Макс. возраст:</label></strong>
                        </p>
                    </div>
                    <div class="col-xs-offset-2 col-xs-4">
                        <input type="number" class="form-control" id="max_age" name="max_age" placeholder="25"
                               ng-model="max_age"
                               min="0" max="{{personage.Race.max_age}}" required>
                <span style="color:red" ng-show="ageForm.max_age.$invalid && ageForm.max_age.$dirty">
                    <span ng-show="ageForm.max_age.$error.required">Введите максимальный возраст</span>
                    <span ng-show="ageForm.max_age.$error.max">Максимальный возраст персонажа больше максимального для расы</span>
                </span>
                    </div>
                </div>
            </form>

            <div data-ng-include data-src="'derivatives_characteristics.html'"></div>

        </div>

        <div>
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#attributes">
                            <div class="panel-heading">
                                Характеристики
                            </div>
                        </a>
                    </h4>

                    <div id="attributes" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tr ng-repeat="personageAttribute in personageAttributes">
                                    <td style="vertical-align:middle;">{{ personageAttribute.Attribute.name}}</td>
                                    <td style="vertical-align:middle;">
                                        <button type="button" class="btn btn-default"
                                                ng-click="increaseAttribute(personageAttribute.id)">
                                            <span class="glyphicon glyphicon-triangle-top"/>
                                        </button>
                                        <button type="button" class="btn btn-default"
                                                ng-click="decreaseAttribute(personageAttribute.id)">
                                            <span class="glyphicon glyphicon-triangle-bottom"/>
                                        </button>
                                    </td>
                                    <td style="vertical-align:middle;">{{ personageAttribute.value }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#skills">
                            <div class="panel-heading">
                                Навыки
                            </div>
                        </a>
                    </h4>
                    <div id="skills" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div>
                                <div class="panel-group" id="skillsAccordeon">

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#skillsAccordeon"
                                               href="#attachedSkills" ng-click="getPersonageAttachedSkills()">
                                                <div class="panel-heading">
                                                    Прикрепленные
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="attachedSkills" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr ng-repeat="personageAttachedSkill in personageAttachedSkills">
                                                        <td style="vertical-align:middle;">
                                                            {{personageAttachedSkill.AttachedSkill.name}}
                                                        </td>

                                                        <td style="vertical-align:middle;">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="increaseAttachedSkill(personageAttachedSkill.AttachedSkill.id)">
                                                                <span class="glyphicon glyphicon-triangle-top"/>
                                                            </button>
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="decreaseAttachedSkill(personageAttachedSkill.AttachedSkill.id)">
                                                                <span class="glyphicon glyphicon-triangle-bottom"/>
                                                            </button>
                                                        </td>

                                                        <td style="vertical-align:middle;">
                                                            {{personageAttachedSkill.value}}
                                                        </td>
                                                    </tr>
                                                </table>

                                                <md-content class="md-padding pull-right">
                                                    <md-button ng-click="calculateAttachedSkillSelectOptions()" class="md-raised">Добавить прикрепленный навык
                                                    </md-button>
                                                </md-content>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#skillsAccordeon"
                                               href="#triggerSkills" ng-click="getPersonageTriggerSkills()">
                                                <div class="panel-heading">
                                                    Триггерные
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="triggerSkills" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr>
                                                        <th style="vertical-align:middle; text-align: center"></th>
                                                        <th style="vertical-align:middle; text-align: center"></th>
                                                        <th style="vertical-align:middle; text-align: center"
                                                            ng-if="!isMobile">Уровень
                                                        </th>
                                                        <th style="vertical-align:middle; text-align: center"
                                                            ng-if="isMobile">Ур
                                                        </th>
                                                        <th style="vertical-align:middle; text-align: center"
                                                            ng-if="!isMobile">Талант
                                                        </th>
                                                        <th style="vertical-align:middle; text-align: center"
                                                            ng-if="isMobile">Тл
                                                        </th>
                                                        <th style="vertical-align:middle; text-align: center"
                                                            ng-if="!isMobile">Учитель
                                                        </th>
                                                        <th style="vertical-align:middle; text-align: center"
                                                            ng-if="isMobile">Уч
                                                        </th>
                                                        <th style="vertical-align:middle; text-align: center"></th>
                                                    </tr>
                                                    <tr ng-repeat="personageTriggerSkill in personageTriggerSkills">
                                                        <td style="vertical-align:middle;">
                                                            {{personageTriggerSkill.TriggerSkill.name}}
                                                        </td>

                                                        <td style="vertical-align:middle; text-align: center">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="increaseTriggerSkillLevel(personageTriggerSkill.TriggerSkill.id)">
                                                                <span class="glyphicon glyphicon-triangle-top"/>
                                                            </button>
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="decreaseTriggerSkillLevel(personageTriggerSkill.TriggerSkill.id)">
                                                                <span class="glyphicon glyphicon-triangle-bottom"/>
                                                            </button>
                                                        </td>

                                                        <td style="vertical-align:middle; text-align: center"
                                                            ng-if="!isMobile">
                                                            <div ng-if="personageTriggerSkill.currentLevel == 1">
                                                                Эксперт
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 2">
                                                                Мастер
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 3">
                                                                Магистр
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 4">
                                                                Гроссмейстер
                                                            </div>
                                                        </td>

                                                        <td style="vertical-align:middle;" ng-if="isMobile">
                                                            <div ng-if="personageTriggerSkill.currentLevel == 1">
                                                                Э
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 2">
                                                                М
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 3">
                                                                Мг
                                                            </div>
                                                            <div ng-if="personageTriggerSkill.currentLevel == 4">
                                                                Г
                                                            </div>
                                                        </td>

                                                        <td style="vertical-align:middle; text-align: center"
                                                            ng-show="personageTriggerSkill.talented">
                                                            <span class="glyphicon glyphicon-ok"/>
                                                        </td>

                                                        <td style="vertical-align:middle; text-align: center"
                                                            ng-show="!personageTriggerSkill.talented">
                                                            <span class="glyphicon glyphicon-remove"/>
                                                        </td>

                                                        <td>
                                                            <input type="checkbox" class="form-control" id="tutored"
                                                                   ng-model="personageTriggerSkill.tutored">
                                                        </td>
                                                    </tr>
                                                </table>

                                                <md-content class="md-padding pull-right">
                                                    <md-button ng-click="calculateTriggerSkillSelectOptions()" class="md-raised">Добавить тригерный навык
                                                    </md-button>
                                                </md-content>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#perks">
                            <div class="panel-heading">
                                Особенности
                            </div>
                        </a>
                    </h4>
                    <div id="perks" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div>
                                <div class="panel-group" id="perkAccordeon">

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#perkAccordeon" href="#inherents"  ng-click="getPersonageInherents()">
                                                <div class="panel-heading">
                                                    Врожденные
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="inherents" class="panel-collapse collapse">


                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr ng-repeat="personageInherent in personageInherents">
                                                        <td style="vertical-align:middle;">
                                                            {{personageInherent.Inherent.name}}
                                                        </td>

                                                        <td style="vertical-align:middle;">
                                                            <div ng-if="personageInherent.Inherent.min_limit && personageInherent.Inherent.max_limit">
                                                                <input type="number" ng-model="personageInherent.value"
                                                                       class="form-control" id="inherent_value">
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <a class="btn btn-link"
                                                               ng-click="deletePersonageInherent(personageInherent)">х</a>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <md-content class="md-padding pull-right">
                                                    <md-button ng-click="calculateInherentSelectOptions()" class="md-raised">Добавить
                                                        врожденное
                                                    </md-button>
                                                </md-content>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#perkAccordeon" href="#merits"
                                               ng-click="getPersonageMerits()">
                                                <div class="panel-heading">
                                                    Достоинства
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="merits" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr ng-repeat="personageMerit in personageMerits">
                                                        <td style="vertical-align:middle;">
                                                            {{personageMerit.Merit.name}}
                                                        </td>

                                                        <td style="vertical-align:middle;">
                                                            <div ng-if="!personageMerit.unremovable">
                                                                {{personageMerit.Merit.cost}}
                                                            </div>
                                                            <div ng-if="personageMerit.unremovable">
                                                                По умолчанию
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <div ng-if="!personageMerit.unremovable">
                                                                <a class="btn btn-link"
                                                                   ng-click="deletePersonageMerit(personageMerit)">х</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <md-content class="md-padding pull-right">
                                                    <md-button ng-click="calculateMeritSelectOptions()" class="md-raised">Добавить
                                                        достоинство
                                                    </md-button>
                                                </md-content>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#perkAccordeon" href="#flaws"  ng-click="getPersonageFlaws()">
                                                <div class="panel-heading">
                                                    Недостатки
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="flaws" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr ng-repeat="personageFlaw in personageFlaws">
                                                        <td style="vertical-align:middle;">
                                                            {{personageFlaw.Flaw.name}}
                                                        </td>

                                                        <td style="vertical-align:middle;">
                                                            {{personageFlaw.Flaw.cost}}
                                                        </td>

                                                        <td style="vertical-align:middle;"
                                                            ng-if="personageFlaw.personage_race_default">
                                                            По умолчанию
                                                        </td>

                                                        <td style="vertical-align:middle;"
                                                            ng-if="!personageFlaw.personage_race_default">
                                                        </td>

                                                        <td ng-hide="personageFlaw.personage_race_default && personageFlaw.Flaw.unremovable">
                                                            <a class="btn btn-link"
                                                               ng-click="deletePersonageFlaw(personageFlaw)">х</a>
                                                        </td>
                                                    </tr>
                                                </table>


                                                <md-content class="md-padding pull-right">
                                                    <md-button ng-click="calculateFlawSelectOptions()" class="md-raised">Добавить
                                                        недостаток
                                                    </md-button>
                                                </md-content>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#spells"
                           ng-click="getPersonageAttachedSkills();getPersonageSpells()">
                            <div class="panel-heading">
                                Заклинания
                            </div>
                        </a>
                    </h4>
                    <div id="spells" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div ng-repeat="school in schools">
                                <div class="panel-group">

                                    <div class="panel panel-default">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#spells{{school.id}}">
                                                <div class="panel-heading">
                                                    {{school.name}}
                                                </div>
                                            </a>
                                        </h4>
                                        <div id="spells{{school.id}}" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <table class="table table-striped">
                                                    <tr ng-repeat="spell in school.Spells">
                                                        <td style="vertical-align:middle;">
                                                            <a href="#" class="btn btn-link" role="button"
                                                               ng-click="showSpellDetail(spell.id)">
                                                                {{ spell.name }}
                                                            </a>
                                                        </td>
                                                        <td style="vertical-align:middle;text-align:center;">
                                                            {{spell.cost}} оп.
                                                        </td>
                                                        <td ng-show="!isSpellAdded(spell.id)">
                                                        </td>
                                                        <td ng-show="isSpellAdded(spell.id)">
                                                            <div ng-repeat="personageSpell in personageSpells"
                                                                 style="margin-top: 7px">
                                                                <div ng-show="personageSpell.Spell.id == spell.id">
                                                                    {{personageSpell.level}} ур.
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td ng-show="isSpellAddedAndLevel0(spell.id)">
                                                            <button type="button" class="btn btn-link"
                                                                    ng-click="deletePersonageSpell(spell.id)">x
                                                            </button>
                                                        </td>
                                                        <td ng-hide="isSpellAdded(spell.id)">
                                                            <button type="button" class="btn btn-link"
                                                                    ng-click="addPersonageSpell(spell.id)">Добавить
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#notices"  ng-click="getNotices()">
                            <div class="panel-heading">
                                Заметки
                            </div>
                        </a>
                    </h4>
                    <div id="notices" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div data-ng-include data-src="'notices.html'"></div>
                            <button type="button" class="btn btn-default pull-right"
                                    data-toggle="modal" data-target="#addNotice" ng-click="clearNoticeFields()">Добавить
                                заметку
                            </button>

                            <div id="addNotice" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Создать заметку</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" role="form" name="addNoticeForm">

                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="noticeName">Заголовок:</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" ng-model="noticeName" class="form-control"
                                                               name="noticeNameInput" id="noticeName"
                                                               required>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="noticeDescription">Текст:</label>
                                                    <div class="col-sm-10">
                                                        <textarea ng-model="noticeDescription" class="form-control"
                                                                  id="noticeDescription" name="noticeDescriptionInput"
                                                                  required></textarea>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary"
                                                    ng-click="addNotice()">
                                                Сохранить
                                            </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="spellDetails" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Описание заклинания: <strong>{{spellDetails.spell.name}}</strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" ng-show="spellDetails.personageSpell == null">
                            <div class="col-md-12 col-xs-12">
                                <strong class="text-danger">У вас нет этого заклинания!</strong>
                            </div>
                        </div>
                        <div class="row" ng-show="spellDetails.personageSpell != null">
                            <div class="col-md-4 col-xs-4">
                                <strong>Ваш уровень:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{spellDetails.personageSpell.level}}
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <button type="button" class="btn btn-default"
                                        ng-click="increaseSpellLevel(spellDetails.personageSpell)">
                                    <span class="glyphicon glyphicon-triangle-top"/>
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-click="decreaseSpellLevel(spellDetails.personageSpell)">
                                    <span class="glyphicon glyphicon-triangle-bottom"/>
                                </button>
                            </div>
                        </div>
                        <div class="row" ng-show="spellDetails.personageSpell != null">
                            <div class="col-md-4 col-xs-4">
                                <strong>Учитель:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <input type="checkbox" class="form-control" id="spellTutored"
                                       ng-model="spellDetails.personageSpell.tutored"
                                       style="margin-top: -6px; margin-left: -6px;">
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Кодовое название:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{spellDetails.spell.name}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Сложность:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{spellDetails.spell.complexity}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Сложность создания:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{spellDetails.spell.creating_complexity}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Мана:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{spellDetails.spell.mana}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Поддержание:</strong>
                            </div>
                            <div ng-show="spellDetails.spell.instant">
                                <div class="col-md-4 col-xs-4">
                                    Мгновенное
                                </div>
                            </div>
                            <div ng-hide="spellDetails.spell.instant">
                                <div class="col-md-4 col-xs-4">
                                    {{spellDetails.spell.mana_support}} {{spellDetails.spell.mana_sup_time}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Стоимость:</strong>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                {{spellDetails.spell.cost}}
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Эффект:</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                {{spellDetails.spell.effect}}
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-4 col-xs-4">
                                <strong>Описание:</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                {{spellDetails.spell.description}}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Понятно!</button>
                    </div>
                </div>
            </div>
        </div>

        <form name="expirienceForm">
            <table class="table table-striped">
                <tr>
                    <td class="lead" style="vertical-align: middle">
                        <strong>Очки опыта:</strong>
                    </td>

                    <td class="lead">
                        <input style="width: 70px; text-align: center" type="number" class="form-control"
                               id="expirience" name="expirience" ng-model="personage.experience" required>
                    </td>
                </tr>
            </table>
        </form>

        <div class="alert alert-danger" ng-show="experienceValid()">
            Вы потратили больше опыта, чем у вас есть!
        </div>

        <button type="submit" ng-disabled="ageForm.$invalid || experienceValid()" class="btn btn-success btn-block"
                ng-click="savePersonage()">
            Сохранить
        </button>

        <button class="btn btn-warning btn-block" ng-click="reset()">
            Сброс
        </button>


    </div>
</div>

</body>
</html>