<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Персонаж</title>

    <link href="/assets/common/img/favicon.png" rel="icon" type="image/png">
    <link href="favicon.ico" rel="shortcut icon">

    <link rel="stylesheet" type="text/css" href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/datatables/media/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/common/css/main.min.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/sweetalert2/dist/sweetalert2.min.css">

    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/jscrollpane/script/jquery.jscrollpane.min.js"></script>
    <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendors/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/vendors/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="/node_modules/sweetalert2/dist/sweetalert2.min.js"></script>

    <!-- Clean UI Scripts -->
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/ngstorage/ngStorage.min.js"></script>
    <script src="/views/permissions/permissions.js"></script>
    <script src="/assets/common/js/common.min.js"></script>
    <script src="/assets/common/js/menu.js"></script>
    <script src="/assets/common/js/tooltip.min.js"></script>
    <script src="view_personage.js"></script>
    <script src="/views/permissions/check_player_permissions.js"></script>

</head>
<body class="theme-default menu-left mode-material layout-boxed mode-box-shadow" ng-app="personageApp" ng-cloak>
<div id="loader"></div>
<div class="boxed-container" ng-controller="permissionsController">
    <nav class="left-menu" left-menu ng-class="{'hidden-left-menu': hideLeftMenu}">
        <div class="logo-container">
            <a href="#" class="logo">
                <h1>ЭРИЛОН</h1>
            </a>
        </div>

        <div class="left-menu-inner scroll-pane">
            <ul class="left-menu-list left-menu-list-root list-unstyled">
                <li class="left-menu-list-active">
                    <a class="left-menu-link" href="/views/user_personage_manager.html?id={{player.id}}">
                        <i class="left-menu-link-icon fa fa-users"><!-- --></i>
                        Персонажи
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/views/races/race_manager.html">
                        <i class="left-menu-link-icon fa fa-users"><!-- --></i>
                        Расы
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/views/attributes/attribute_manager.html">
                        <i class="left-menu-link-icon fa  fa-diamond"><!-- --></i>
                        Атрибуты
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/views/merits/merit_manager.html">
                        <i class="left-menu-link-icon fa fa-smile-o"><!-- --></i>
                        Достоинства
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/views/inherents/inherent_manager.html">
                        <i class="left-menu-link-icon fa fa-american-sign-language-interpreting"><!-- --></i>
                        Врожденные особенности
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/views/flaws/flaw_manager.html">
                        <i class="left-menu-link-icon fa fa-meh-o"><!-- --></i>
                        Недостатки
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/views/attached_skills/attached_skills_manager.html">
                        <i class="left-menu-link-icon fa fa-asterisk"><!-- --></i>
                        Прикрепленные навыки
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/views/trigger_skills/trigger_skills_manager.html">
                        <i class="left-menu-link-icon icmn-stack3"><!-- --></i>
                        Тригерные навыки
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/views/spells/spells_manager.html">
                        <i class="left-menu-link-icon fa fa-fire"><!-- --></i>
                        Заклинания
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="top-menu" ng-class="{'hidden-top-menu': hideTopMenu}">
        <div class="menu-icon-container hidden-md-up">
            <div class="animate-menu-button left-menu-toggle">
                <div><!-- --></div>
            </div>
        </div>
        <div class="menu">
            <div class="menu-user-block">
                <div class="dropdown dropdown-avatar">
                    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        <span class="user-name">Игрок: <strong>{{player.name}}</strong></span>
                        <span class="avatar" href="#">
                        <img src="/assets/common/img/temp/avatars/4.jpg" alt="Alternative text to the image">
                    </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                        <a class="dropdown-item" href="#"><i class="dropdown-icon icmn-user"></i> Профиль</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/views/user_personage_manager.html?id={{player.id}}"><i
                                class="dropdown-icon icmn-circle-right"></i> Мои персонажи</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/" ng-click="deleteUserCookie()"><i
                                class="dropdown-icon icmn-exit"></i> Сменить профиль</a>
                        <div class="dropdown-divider" ng-show="hasManagePermissionsAccess()"></div>
                        <a class="dropdown-item" href="/" ng-click="deleteUserCookie()"
                           ng-show="hasManagePermissionsAccess()"><i class="dropdown-icon icmn-cog2"></i> Управление
                            доступом</a>
                    </ul>
                </div>
            </div>

            <div class="menu-info-block">
                <div class="left">
                    <div class="menu-info-block">
                        <div class="hidden-xs-down">
                            <div class="btn btn-success-outline btn-rounded">
                                Права: {{player.Role.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <section class="page-content hide" ng-controller="personageController">
        <div class="panel">
            <h3 class="panel-heading" style="padding-bottom: 0; margin-bottom: 0">
                <div class="dropdown">
                    <a class="dropdown-toggle color-primary" href="" data-toggle="dropdown" aria-expanded="false">
                        {{personage.name}}
                        <span class="ink animate"></span>
                    </a>
                    <a class="btn btn-rounded btn-danger-outline margin-10"
                       href="edit_personage.html?id={{personage.id}}">Прокачать!</a>
                    <ul class="dropdown-menu dropdown-animate" aria-labelledby="" role="menu">
                        <a class="dropdown-item" href="javascript: void(0)">Раса: {{personage.Race.name}}</a>
                        <a class="dropdown-item" href="javascript: void(0)">Возраст: {{personage.age}} лет</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript: void(0)">Опыт: {{personage.experience}}</a>
                    </ul>
                </div>
            </h3>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 hidden-xs-down hidden-sm-down">
                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                id="hitPiercePunch" ng-click="hitPiercePunchAnimateRelatedAttributes()"
                                title="Количество кубиков на бросок попадания колющим/режущим ударом. Равно ловкости+скорости персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/hitPiercePunch.svg" class="ng-scope"
                                 height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{hitPiercePunch}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                id="hitChopPunch" ng-click="hitChopPunchAnimateRelatedAttributes()"
                                title="Количество кубиков на бросок попадания рубящим ударом. Равно ловкости+силе персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/hitChopPunch.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{hitChopPunch}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline" id="rangedHit"
                                ng-click="rangedHitAnimateRelatedAttributes()"
                                title="Количество кубиков на бросок попадания при стрельбе из луков, арбалетов и использовании метательного оружия. Равно ловкости+восприятию персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/rangedHit.svg"
                                 class="ng-scope tooltips" height="40" width="40">
                            <span class="ng-binding ng-scope">{{rangedHit}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                id="parryPiercePunch" ng-click="parryPiercePunchAnimateRelatedAttributes()"
                                title="Количество кубиков на парирование колющих/режущих ударов. Равно скорости+реакции персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/parryPiercePunch.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{parryPiercePunch}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                id="parryChopPunch" ng-click="parryChopPunchAnimateRelatedAttributes()"
                                title="Количество кубиков на парирование рубящего удара. Равно силе+реакции персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/parryChopPunch.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{parryChopPunch}}</span>
                        </button>

                    </div>
                    <div class="col-md-2 hidden-xs-down hidden-sm-down">

                        <button class="btn btn-info-outline btn-rounded produced margin-inline" id="dodge"
                                ng-click="dodgeAnimateRelatedAttributes()"
                                title="Количество кубиков на уклонение от атак. Равно ловкости+реакции персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/dodge.svg" class="ng-scope tooltips"
                                 height="40" width="40">
                            <span class="ng-binding ng-scope">{{dodge}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                id="generalActionPoints"
                                ng-click="generalActionPointsAnimateRelatedAttributes()"
                                title="Количество физических действий, совершаемых в раунд (удары, парирование, уклонение). Равно меньшему значению из скорости и интеллекта персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/generalActionPoints.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{generalActionPoints}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                id="mentalActionPoints" ng-click="mentalActionPointsAnimateRelatedAttributes()"
                                title="Количество ментальных действий, совершаемых в раунд (активация способностей). Равно интеллекту персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/mentalActionPoints.png"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{mentalActionPoints}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                id="endurancePoints" ng-click="endurancePointsAnimateRelatedAttributes()"
                                title="Количество очков выносливости персонажа. Тратится на активацию заклинаний и способностей, бег и любые действия. Равно выносливости персонажа, умноженной на 20"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/endurancePoints.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{endurancePoints}}</span>
                        </button>
                        <button class="btn btn-info-outline btn-rounded produced margin-inline" id="initiative"
                                ng-click="initiativeAnimateRelatedAttributes()"
                                title="Количество кубиков на определение очередности хода в раунде. Равно реакции персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/initiative.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{initiative}}</span>
                        </button>
                    </div>
                    <div class="col-md-8">
                        <table id="attrTable" class="table table-hover">
                            <tr ng-repeat="personageAttribute in personageAttributes | orderBy: 'position'"
                                ng-hide="ifMagic(personageAttribute)">
                                <td id="{{personageAttribute.Attribute.name}}">{{
                                    personageAttribute.Attribute.name}}
                                </td>
                                <td>{{ personageAttribute.value }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="o-wrapper-attributes hidden-md-up">

            <nav class="c-menu c-menu--slide-bottom">
                <div class="slide-down-button" ng-click="openHideAttributesCategoriesFilterMenu()">
                    <button style="margin-top: -10px" id="characteristics">Производные</button>
                    <i class="fa fa-angle-double-down" ng-hide="isCategoryAttributesMenuClose"></i>
                    <i class="fa fa-angle-double-up" ng-show="isCategoryAttributesMenuClose"></i>
                </div>
                <hr/>
                <div class="row" style="margin-top: 20px">
                    <div class="col-sm-6 col-xs-6">
                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                title="Количество кубиков на бросок попадания колющим/режущим ударом. Равно ловкости+скорости персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/hitPiercePunch.svg"
                                 class="ng-scope"
                                 height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{hitPiercePunch}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                title="Количество кубиков на бросок попадания рубящим ударом. Равно ловкости+силе персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/hitChopPunch.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{hitChopPunch}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                title="Количество кубиков на бросок попадания при стрельбе из луков, арбалетов и использовании метательного оружия. Равно ловкости+восприятию персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/rangedHit.svg"
                                 class="ng-scope tooltips" height="40" width="40">
                            <span class="ng-binding ng-scope">{{rangedHit}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                title="Количество кубиков на парирование колющих/режущих ударов. Равно скорости+реакции персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/parryPiercePunch.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{parryPiercePunch}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                title="Количество кубиков на парирование рубящего удара. Равно силе+реакции персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/parryChopPunch.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{parryChopPunch}}</span>
                        </button>

                    </div>
                    <div class="col-sm-6 col-xs-6">

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                title="Количество кубиков на уклонение от атак. Равно ловкости+реакции персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/dodge.svg"
                                 class="ng-scope tooltips"
                                 height="40" width="40">
                            <span class="ng-binding ng-scope">{{dodge}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                title="Количество физических действий, совершаемых в раунд (удары, парирование, уклонение). Равно меньшему значению из скорости и интеллекта персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/generalActionPoints.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{generalActionPoints}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                title="Количество ментальных действий, совершаемых в раунд (активация способностей). Равно интеллекту персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/mentalActionPoints.png"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{mentalActionPoints}}</span>
                        </button>

                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                title="Количество очков выносливости персонажа. Тратится на активацию заклинаний и способностей, бег и любые действия. Равно выносливости персонажа, умноженной на 20"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/endurancePoints.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{endurancePoints}}</span>
                        </button>
                        <button class="btn btn-info-outline btn-rounded produced margin-inline"
                                title="Количество кубиков на определение очередности хода в раунде. Равно реакции персонажа"
                                rel="tooltip">
                            <img src="/assets/common/img/erilon-icon/initiative.svg"
                                 class="ng-scope tooltips" height="40"
                                 width="40">
                            <span class="ng-binding ng-scope">{{initiative}}</span>
                        </button>
                    </div>
                </div>
            </nav>

            <div class="c-mask" ng-click="openHideAttributesCategoriesFilterMenu()"></div>
        </div>

        <div class="panel" style="box-shadow: 0px 0px">
            <div class="custom-panel-body">
                <div class="nav-tabs-horizontal">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript: void(0);" data-toggle="tab"
                               data-target="#main_skills" role="tab">Основные</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#spells"
                               role="tab" ng-click="getPersonageSpells()">Заклинания</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#notices"
                               role="tab" ng-click="showNotices()">Заметки</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="main_skills" role="tabpanel">

                            <div class="row masonry" id="personage_table">
                                <div class="panel" style="box-shadow: 0 2px 10px -2px rgba(55, 58, 60, 0.3);">
                                    <h3 class="panel-heading" style="margin-bottom: 0">
                                        Прикрепленные навыки
                                    </h3>
                                    <div class="panel-body">
                                        <table id="attachedSkills" class="table nowrap" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Навык</th>
                                                <th>Значение</th>
                                                <th>Броски</th>
                                                <th>Описание</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                                <div class="panel" style="box-shadow: 0 2px 10px -2px rgba(55, 58, 60, 0.3);">
                                    <h3 class="panel-heading" style="margin-bottom: 0">
                                        Тригерные навыки
                                    </h3>
                                    <div class="panel-body">
                                        <table id="triggerSkills" class="table nowrap" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Навык</th>
                                                <th>Уровень</th>
                                                <th>Талант</th>
                                                <th>Описание</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                                <div class="panel" style="box-shadow: 0 2px 10px -2px rgba(55, 58, 60, 0.3);">
                                    <h3 class="panel-heading" style="margin-bottom: 0">
                                        Врожденные особенности
                                    </h3>
                                    <div class="panel-body">
                                        <table id="inherents" class="table nowrap" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Особенность</th>
                                                <th>Значение</th>
                                                <th>Описание</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                                <div class="panel" style="box-shadow: 0 2px 10px -2px rgba(55, 58, 60, 0.3);">
                                    <h3 class="panel-heading" style="margin-bottom: 0">
                                        Достоинства
                                    </h3>
                                    <div class="panel-body">
                                        <table id="merits" class="table nowrap" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Достоинство</th>
                                                <th>Описание</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                                <div class="panel" style="box-shadow: 0 2px 10px -2px rgba(55, 58, 60, 0.3);">
                                    <h3 class="panel-heading" style="margin-bottom: 0">
                                        Недостатки
                                    </h3>
                                    <div class="panel-body">
                                        <table id="flaws" class="table table-hover nowrap" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Недостаток</th>
                                                <th>Описание</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="spells" role="tabpanel">

                        </div>


                        <div class="tab-pane" id="notices" role="tabpanel">
                            <div class="panel">
                                <h3 class="panel-heading" style="margin-bottom: 0">
                                    Заметки<button type="button" class="btn btn-sm btn-success btn-rounded" ng-click="addNotice()"
                                                   style="margin-left: 10px">Добавить заметку
                                </button>
                                </h3>
                                <div class="panel-body">
                                    <table class="table table-hover nowrap" id="noticesTable" width="100%">
                                        <thead>
                                        <tr>
                                            <th style="width: 90%">Заметка</th>
                                            <th></th>
                                            <th>Текст</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </section>
</div>

<div class="main-backdrop"><!-- --></div>
</body>
</html>