-- SELECT * from application WHERE uuid = 'buj10rf';

UPDATE application SET
createdAt = createdAt - INTERVAL '10 days',
paidoutAt = paidoutAt - INTERVAL '10 days',
dueAt = dueAt - INTERVAL '10 days',
grantedAt = grantedAt - INTERVAL '10 days'
WHERE uuid = 'dtkm47';

UPDATE statuschange SET
date = date - INTERVAL '10 days',
effectivedate = effectivedate - INTERVAL '10 days'
WHERE application_id in (SELECT id from application WHERE uuid = 'dtkm47');

UPDATE installment SET
createddate = createddate - INTERVAL '10 days',
duedate = duedate - INTERVAL '10 days'
WHERE application_id in (SELECT id from application WHERE uuid = 'dtkm47');

UPDATE fee SET
date = date - INTERVAL '10 days',
effectivedate = effectivedate - INTERVAL '10 days',
duedate = duedate - INTERVAL '10 days'
WHERE application_id in (SELECT id from application WHERE uuid = 'dtkm47');

UPDATE payment SET
created = created - INTERVAL '10 days',
executed = executed - INTERVAL '10 days',
completed = completed - INTERVAL '10 days'
WHERE uuid = 'LEsaNvNgmF4U';