<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список тригерных навыков</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="/views/permissions/permissions.js"></script>
    <script src="trigger_skills_manager.js"></script>
    <script src="/views/permissions/check_player_permissions.js"></script>
</head>

<body ng-app="triggerSkillManagerApp">
<div ng-controller="permissionsController">
    <div data-ng-include data-src="'/views/main-menu.html'"></div>
    <div ng-controller="triggerSkillListController">
        <div data-ng-include data-src="'/views/loader.html'"></div>

        <div class="row">
            <div class="col-xs-offset-1 col-xs-2">
                <p class="lead">
                    <strong>Поиск навыка:</strong>
                </p>
            </div>
            <div class="col-xs-offset-2 col-xs-4">
                <p class="lead"><input type="text" ng-model="search"></p>
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th style="vertical-align:middle; text-align: center;">Имя</th>
                <th>Cт.</th>
                <th>Сл.</th>
                <th ng-show="hasDeletePermission('TriggerSkill')"></th>
            </tr>
            <tr ng-repeat="triggerSkill in triggerSkills | orderBy : 'name' | filter : search">
                <td style="vertical-align:middle; text-align: center;">
                    <a ng-show="hasEditPermission('TriggerSkill')" href="trigger_skill.html?id={{triggerSkill.id}}" class="btn btn-link" role="button">
                        {{ triggerSkill.name }}
                    </a>
                    <div ng-hide="hasEditPermission('TriggerSkill')">
                        {{ triggerSkill.name }}
                    </div>
                </td>
                <td style="vertical-align:middle;">{{ triggerSkill.cost }}</td>
                <td style="vertical-align:middle;">
                    <div ng-if="triggerSkill.difficult">
                        <span class="glyphicon glyphicon-ok"/>
                    </div>
                    <div ng-if="!triggerSkill.difficult">
                        <span class="glyphicon glyphicon-remove"/>
                    </div>
                </td>
                <td ng-show="hasDeletePermission('TriggerSkill')">
                    <button type="button" class="btn btn-link" ng-click="deleteTriggerSkill(triggerSkill.id)">х
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div class="container" ng-show="hasCreatePermission('TriggerSkill')">
        <h2>Добавить навык</h2>

        <form class="form-horizontal" role="form" ng-controller="addTriggerSkillController"
              name="createTriggerSkillForm">

            <div class="form-group">
                <label class="control-label col-sm-2" for="triggerSkill_name">Название навыка:</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="triggerSkill_name" class="form-control" id="triggerSkill_name"
                           placeholder="Меч" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="cost">Стоимость:</label>

                <div class="col-sm-10">
                    <input type="number" ng-model="cost" class="form-control" id="cost" placeholder="5" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="difficult">Сложный:</label>

                <div class="col-sm-10">
                    <div class="pull-left">
                        <input type="checkbox" class="form-control" id="difficult" ng-model="difficult">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Описание:</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="description" class="form-control" id="description"
                           placeholder="Описание здесь">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="createTriggerSkill()"
                            ng-disabled="createTriggerSkillForm.$invalid">Добавить
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>