<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список врожденных особенностей</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="/views/permissions/permissions.js"></script>
    <script src="inherent_manager.js"></script>
    <script src="/views/permissions/check_player_permissions.js"></script>
</head>

<body ng-app="inherentManagerApp">
<div ng-controller="permissionsController">
    <div data-ng-include data-src="'/views/main-menu.html'"></div>
    <div ng-controller="inherentListController">
        <div data-ng-include data-src="'/views/loader.html'"></div>

        <div class="row">
            <div class="col-xs-offset-1 col-xs-2">
                <p class="lead">
                    <strong>Поиск особенности:</strong>
                </p>
            </div>
            <div class="col-xs-offset-2 col-xs-4">
                <p class="lead"><input type="text" ng-model="search"></p>
            </div>
        </div>

        <table class="table table-striped">
            <tr ng-repeat="inherent in inherents | orderBy : 'name' | filter : search">
                <td style="vertical-align:middle;">{{ inherent.name }}</td>
                <td style="vertical-align:middle;">1/{{ inherent.probability }}</td>
                <td style="vertical-align:middle;">{{ inherent.min_limit}}</td>
                <td style="vertical-align:middle;">{{ inherent.max_limit }}</td>
                <td ng-show="hasDeletePermission('Inherent')">
                    <button type="button" class="btn btn-link" ng-click="deleteInherent(inherent.id)">х</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="container" ng-show="hasCreatePermission('Inherent')">
        <h2>Добавить врожденную особенность</h2>

        <form class="form-horizontal" role="form" ng-controller="addInherentController"
              name="createInherentForm">

            <div class="form-group">
                <label class="control-label col-sm-2" for="inherent_name">Название особенности:</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="inherent_name" class="form-control" id="inherent_name"
                           placeholder="Сопротивление ядам" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="probability">Вероятность 1/x: </label>

                <div class="col-sm-10">
                    <input type="number" ng-model="probability" class="form-control" id="probability" placeholder="6">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="hasValue">Имеет числовое значение</label>

                <div class="col-sm-1">
                    <div class="pull-left">
                        <input type="checkbox" ng-model="hasValue" class="form-control pull-left" id="hasValue"/>
                    </div>
                </div>
            </div>


            <div ng-show="hasValue">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="min_limit">Минимальное значение: </label>

                    <div class="col-sm-10">
                        <input type="number" ng-model="min_limit" class="form-control" id="min_limit" placeholder="-3">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="max_limit">Максимальное значение: </label>

                    <div class="col-sm-10">
                        <input type="number" ng-model="max_limit" class="form-control" id="max_limit" placeholder="6">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Описание:</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="description" class="form-control" id="description"
                           placeholder="Описание здесь">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="action_level_bonus">Бонус на действия:</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="action_level_bonus" placeholder="Бонус"
                           ng-model="action_level_bonus">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="createInherent()"
                            ng-disabled="createInherentForm.$invalid">Добавить
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>