<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="assets/common/css/main.min.css">

</head>
<body class="theme-default menu-top menu-static theme-blue" ng-app="loginApp">
<section class="page-content" ng-controller="loginController">
    <div class="page-content-inner">

        <!-- Login Erilon Page -->
        <img class="login_bg" src="/assets/common/img/bg-login.jpg"/>
        <div class="single-page-block">
            <div class="row">
                <div class="col-lg-12">
                <span class="text-center logo">
                    <h1 ng-i18next>general.brand_name</h1>
                </span>
                </div>
            </div>
            <div class="single-page-block-inner effect-3d-element">
                <div class="blur-placeholder"><!-- --></div>
                <div class="single-page-block-form">
                    <h3 class="text-center"><span ng-i18next>page.login.login_label</span>
                        <i class="fa fa-key pull-right"></i>
                    </h3>
                    <small ng-i18next>page.login.enter_nick_name</small>
                    <br/>
                    <form id="form-validation" name="form-validation" method="POST">
                        <div class="form-group">
                            <input id="validation-name" ng-model="nickName"
                                   class="form-control"
                                   ng-i18next="[placeholder]page.login.nick_name"
                                   name="validation[name]"
                                   type="text"
                                   data-validation="[NAME]">
                        </div>

                        <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="login()" ng-i18next>
                            page.login.login_button
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Login Erilon Page -->

    </div>
</section>

<div class="main-backdrop"><!-- --></div>

</body>
<!-- Vendors Scripts -->
<!-- v1.0.0 -->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/tether/dist/js/tether.min.js"></script>
<script src="/node_modules/popper.js/dist/umd/popper.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="/node_modules/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
<script src="/node_modules/autosize/dist/autosize.min.js"></script>
<script src="/node_modules/gsap/src/minified/TweenMax.min.js"></script>

<script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="/node_modules/angular-cookies/angular-cookies.min.js"></script>

<script type="text/javascript" src="/node_modules/ngstorage/ngStorage.min.js"></script>

<script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/node_modules/i18next/i18next.min.js"></script>
<script src="/node_modules/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
<script src="/node_modules/ng-i18next/dist/ng-i18next.min.js"></script>

<!-- UI Scripts -->
<script type="text/javascript" src="assets/common/js/common.min.js"></script>
<script src="views/i18-initialization.js"></script>
<script type="text/javascript" src="views/login/login.js"></script>
</html>