<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Erilon login page</title>

    <link rel="stylesheet" type="text/css" href="assets/vendors/bootstrap/dist/css/bootstrap.min.css">

    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="assets/common/css/source/main.css">
    <link rel="stylesheet" type="text/css" href="assets/common/css/source/custom.css">

    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/vendors/tether/dist/js/tether.min.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/vendors/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="assets/vendors/jquery-typeahead/dist/jquery.typeahead.min.js"></script>
    <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
    <script src="assets/vendors/gsap/src/minified/TweenMax.min.js"></script>

    <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/node_modules/angular-cookies/angular-cookies.min.js"></script>

    <script type="text/javascript" src="/node_modules/ngstorage/ngStorage.min.js"></script>

    <!-- UI Scripts -->
    <script type="text/javascript" src="assets/common/js/common.min.js"></script>
    <script type="text/javascript" src="views/login/login.js"></script>
</head>
<body class="theme-default menu-top menu-static theme-blue" ng-app="loginApp">
<section class="page-content" ng-controller="loginController">
    <div class="page-content-inner">

        <!-- Login Erilon Page -->
        <img class="login_bg" src="/assets/common/img/bg-login.jpg"/>
        <div class="single-page-block">
            <div class="row">
                <div class="col-lg-12">
                <span class="text-center logo">
                    <h1>ЭРИЛОН</h1>
                </span>
                </div>
            </div>
            <div class="single-page-block-inner effect-3d-element">
                <div class="blur-placeholder"><!-- --></div>
                <div class="single-page-block-form">
                    <h3 class="text-center">
                        Войти в систему
                        <i class="fa fa-key pull-right"></i>
                    </h3>
                    <small>Введите имя игрока для входа:</small>
                    <br/>
                    <form id="form-validation" name="form-validation" method="POST">
                        <div class="form-group">
                            <input id="validation-name" ng-model="nickName"
                                   class="form-control"
                                   placeholder="Имя ..."
                                   name="validation[name]"
                                   type="text"
                                   data-validation="[NAME]">
                        </div>

                        <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="login()">Войти</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Login Erilon Page -->

    </div>
</section>

<div class="main-backdrop"><!-- --></div>

</body>
</html>