<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление доступом</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/common/css/main.min.css">

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/ngstorage/ngStorage.min.js"></script>

    <script src="/views/permissions/permissions.js"></script>
    <script src="manage_permissions.js"></script>
    <script src="/views/permissions/check_player_permissions.js"></script>
</head>
<body ng-app="permissionsManagerApp">
<div ng-controller="permissionsManagerController">

    <p class="lead">Фильтр: <input type="text" ng-model="search"></p>

    <div ng-repeat="role in roles | orderBy : 'name' | filter : search">
        <h4>{{ role.name }}</h4>
        <table class="table table-striped">
            <tr>
                <th>Справочник</th>
                <th>Просмотр</th>
                <th>Добавление</th>
                <th>Редактирование</th>
                <th>Удаление</th>
            </tr>
            <tr ng-repeat="dictionary in dictionaries | orderBy : 'dictionary.visibleValue'">
                <td style="vertical-align:middle;">{{ dictionary.visibleValue }}</td>

                <td style="vertical-align:middle;">
                    <div ng-show="hasViewPermissionForRole(dictionary.name, role)"
                         ng-click="deleteRolePermission(role, dictionary.name, 'view')">
                        <i class="icmn-checkmark4" style="cursor: pointer;"></i>
                    </div>
                    <div ng-hide="hasViewPermissionForRole(dictionary.name, role)"
                         ng-click="addRolePermission(role, dictionary.name, 'view')">
                        <i class="icmn-cross2" style="cursor: pointer;"></i>
                    </div>
                </td>

                <td style="vertical-align:middle;">
                    <div ng-show="hasCreatePermissionForRole(dictionary.name, role)" ng-click="deleteRolePermission(role, dictionary.name, 'create')">
                        <i class="icmn-checkmark4" style="cursor: pointer;"></i>
                    </div>
                    <div ng-hide="hasCreatePermissionForRole(dictionary.name, role)" ng-click="addRolePermission(role, dictionary.name, 'create')">
                        <i class="icmn-cross2" style="cursor: pointer;"></i>
                    </div>
                </td>

                <td style="vertical-align:middle;">
                    <div ng-show="hasEditPermissionForRole(dictionary.name, role)" ng-click="deleteRolePermission(role, dictionary.name, 'edit')">
                        <i class="icmn-checkmark4" style="cursor: pointer;"></i>
                    </div>
                    <div ng-hide="hasEditPermissionForRole(dictionary.name, role)" ng-click="addRolePermission(role, dictionary.name, 'edit')">
                        <i class="icmn-cross2" style="cursor: pointer;"></i>
                    </div>
                </td>

                <td style="vertical-align:middle;">
                    <div ng-show="hasDeletePermissionForRole(dictionary.name, role)" ng-click="deleteRolePermission(role, dictionary.name, 'delete')">
                        <i class="icmn-checkmark4" style="cursor: pointer;"></i>
                    </div>
                    <div ng-hide="hasDeletePermissionForRole(dictionary.name, role)" ng-click="addRolePermission(role, dictionary.name, 'delete')">
                        <i class="icmn-cross2" style="cursor: pointer;"></i>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>