<md-dialog aria-label="Add attached skill">
    <form name="saveAttachedSkillForm" ng-submit="save()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Добавить прикрепленный навык</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-svg-src="/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <form name="saveAttachedSkillForm">

                    <md-input-container class="md-block" flex-gt-sm>

                        <label for="attachedSkill_name">Название навыка</label>
                        <input ng-model="ctrl.attachedSkill_name" id="attachedSkill_name" name="attachedSkill_name" required>

                        <div ng-messages="saveAttachedSkillForm.attachedSkill_name.$error">
                            <div ng-message="required">А название я буду придумывать?</div>
                        </div>

                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Описание</label>
                        <textarea ng-model="ctrl.description"></textarea>
                    </md-input-container>

                    <div layout-gt-xs="row">
                        <md-switch ng-model="ctrl.difficult">
                            Сложный
                        </md-switch>
                        <md-switch ng-model="ctrl.theoretical">
                            Теоретический
                        </md-switch>
                        <md-switch ng-model="ctrl.default_skill">
                            Дефолтный
                        </md-switch>
                        <md-switch ng-model="ctrl.spells_connected">
                            Содержит заклинания
                        </md-switch>
                    </div>

                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="saveAttachedSkillForm.$invalid" md-autofocus ng-click="ctrl.save()">
                Сохранить
            </md-button>
            <md-button ng-click="ctrl.cancel()">
                Отмена
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

