<!DOCTYPE html>
<html lang="en">
<head>
    <title>Список прикрепленных навыков</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="/views/permissions/permissions.js"></script>
    <script src="attached_skills_controller.js"></script>
    <script src="addAttachedSkillDialogCtrl.js"></script>
    <script src="updateAttachedSkillDialogCtrl.js"></script>
    <script src="/views/permissions/check_player_permissions.js"></script>
</head>

<body ng-app="attachedSkillManagerApp">
<div ng-controller="permissionsController">
    <div data-ng-include data-src="'/views/main-menu.html'"></div>
    <div ng-controller="attachedSkillListController">
        <div data-ng-include data-src="'/views/loader.html'"></div>

        <div class="row">
            <div class="col-xs-offset-1 col-xs-2">
                <p class="lead">
                    <strong>Поиск навыка:</strong>
                </p>
            </div>
            <div class="col-xs-offset-2 col-xs-4">
                <p class="lead"><input type="text" ng-model="search"></p>
            </div>
            <md-button ng-show="hasCreatePermission('AttachedSkill')" ng-click="showAddDialog()" class="md-raised">
                Добавить навык
            </md-button>
        </div>

        <table class="table table-striped">
            <tr>
                <th>Имя</th>
                <th>Сл.</th>
                <th>Теор.</th>
                <th>Деф.</th>
                <th ng-show="hasDeletePermission('AttachedSkill') || hasEditPermission('AttachedSkill')"></th>
            </tr>
            <tr ng-repeat="attachedSkill in attachedSkills | orderBy : 'name' | filter: search">
                <td style="vertical-align:middle;">{{ attachedSkill.name }}</td>
                <td style="vertical-align:middle;">
                    <div ng-if="attachedSkill.difficult">
                        <span class="glyphicon glyphicon-ok"/>
                    </div>
                    <div ng-if="!attachedSkill.difficult">
                        <span class="glyphicon glyphicon-remove"/>
                    </div>
                </td>
                <td style="vertical-align:middle;">
                    <div ng-if="attachedSkill.theoretical">
                        <span class="glyphicon glyphicon-ok"/>
                    </div>
                    <div ng-if="!attachedSkill.theoretical">
                        <span class="glyphicon glyphicon-remove"/>
                    </div>
                </td>
                <td style="vertical-align:middle;">
                    <div ng-if="attachedSkill.default_skill">
                        <span class="glyphicon glyphicon-ok"/>
                    </div>
                    <div ng-if="!attachedSkill.default_skill">
                        <span class="glyphicon glyphicon-remove"/>
                    </div>
                </td>

                <td style="text-align:right" ng-show="hasDeletePermission('AttachedSkill') || hasEditPermission('AttachedSkill')">
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Ещё
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" ng-show="hasEditPermission('AttachedSkill')" ng-click="showEditDialog(attachedSkill)">Редактировать</a>
                            </li>
                            <li><a href="#" ng-show="hasDeletePermission('AttachedSkill')"
                                   ng-click="deleteAttachedSkill(attachedSkill.id)">х</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>